@page "/students/delete/{id}"
@inject NavigationManager NavManager
@inject HttpClient httpClient


<h1>Delete a Student</h1>


@if (s == null)
{

    <p><em>Loading...</em></p>

}
else
{
    <NavLink href="/students" class="btn btn-success">Return</NavLink>
    <table class='table table-hover'>

        <thead>

            <tr>

                <th>ID</th>

                <th>First Name</th>

                <th>Last Name</th>

                <th>School</th>

            </tr>

        </thead>

        <tbody>

            @foreach (var item in s)
            {

            <tr>

                <td>@item.StudentId</td>

                <td>@item.FirstName</td>

                <td>@item.LastName</td>

                <td>@item.School</td>

                <td>
                    <EditForm Model="@student" OnValidSubmit="@HandleDelete">
                        <button type="submit" class="btn btn-danger btn-sm">
                            del
                        </button>
                    </EditForm>
                </td>

            </tr>

            }

        </tbody>

    </table>

    @code {
            private Student student = new Student();

            [Parameter]
            public string Id {get; set;}
            protected async void HandleDelete()
            {

                string endpoint = $"{baseUrl}api/students/{Id}";

                await httpClient.DeleteAsync(endpoint);

                await load();

                StateHasChanged();

                NavManager.NavigateTo("/students");
                
                 // causes the page to get automatically refreshed

            }

        }

}




@code {

    Student[] s;

    Student[] students;

    string baseUrl = "http://localhost:32792/";


    protected override async Task OnInitializedAsync()
    {

        await load();

    }
    protected async Task load()
    {

        students = await httpClient.GetFromJsonAsync<Student[]>($"{baseUrl}api/students");
        s = students.Where(f => f.StudentId == Id).ToArray();
    }


}